@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,700'); */

*, *::before, *::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
    text-align: center;
    background: #f2f6f8;
}


.wrapperPage{
    display: grid;
    grid-gap: 10px;
    grid-template-columns: auto 200px;
    grid-template-rows:  130px auto 100px;
}
.container{
    grid-column: 1;
    grid-row-start: 1;
    grid-row-end: 4;
    display:flex;
    margin: none; 
    background: transparent;
    position:relative; 
    overflow: hidden;
    border: 0px solid rgba(212, 210, 210, 0.146);
    height: 100vh;
}

.canvas-landmarks{
    position:absolute;
    /* position: absolute; */
    z-index:10;
    /* max-width: 100%;
    max-height: 100vh; */
    background-color: rgba(205, 226, 43, 0.5);
}

.canvas-image{
    position:absolute;
    z-index:0;  
}

.image-canvas{
    position:absolute;
    z-index:20;
    background-color: rgba(43, 64, 226, 0.5);
}

.information-form{
    background-color: transparent;
}


.patient-info {
    grid-column: 2;
    grid-row: 1;
    border: 0px solid rgba(212, 210, 210, 0.146);
    background-color: rgba(212, 210, 210, 0.146);
}
.menu-div{
    grid-column: 2;
    grid-row: 2;
    border: 0px solid rgba(212, 210, 210, 0.146);
    background-color: rgba(212, 210, 210, 0.146);

}
.back-button{
    grid-column: 2;
    grid-row:3;
    border: 0px solid rgba(212, 210, 210, 0.146);
    align-content: center;
    display: flex;
    background-color: rgba(212, 210, 210, 0.146);
    
}

button {
    justify-content: center; /* center the content horizontally */
    align-items: center; /* center the content vertically */
}

button:hover {
    font-weight: bold;
}

.btn-reset{
    background-color: white;
    border-radius: 3px;
    width: 70px;
    height: 70px;
    align-items: center;
    margin: auto auto;
    vertical-align: top;
    text-align: center;
    font-size: 1rem;
    font-family: Poppins, sans-serif;
}
.btn-reset:hover{
    transform: scale(1.05);
}

.btn-return{
    background-color: white;
    display: float;
    border-radius: 3px;
    width: 70px;
    height: 70px;
    margin: auto auto;
    font-size: 1rem;
    font-family: Poppins, sans-serif;
    
}
.btn-return:hover{
    transform: scale(1.05);
}

.btn-measures {
    background-image: url('./icons/measurements.jpg');
    background-size: 70px;
    width: 70px;
    height: 70px;
    margin: 10px 10px
}

.btn-measures:hover {
    transform: scale(1.05);
}

.select-form {
    font-size: 1rem;
    font-family: Poppins, sans-serif;
    width: 135px;
    max-width: 135px;
    min-width: 135px;
}
.subject-id {
    font-size: 1rem;
    font-family: Poppins, sans-serif;
    width: 130px;
    max-width: 130px;
    min-width: 130px;
}